.idea/.name
.idea/Anorak.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
*.DS_Store
*.pyc
anorak.db
anorak.cfg
flowchart.mindnode/QuickLook/Preview.jpg
flowchart.mindnode/contents.xml
flowchart.mindnode/viewState.plist
