$def with (form, anime)
$var title = "Add "+createTitleListing(anime.titles)

<h1>$createTitleListing(anime.titles)</h1>
		
<h4>Edit Info:</h4>
<form action="" method="post">
$:form.render()
</form>

<h4>Current Episode Listing:</h4>
<table border="1" width="100%">
    <thead>
    <tr>
        <th>Episode</th>
        <th>Title</th>
    </tr>
    </thead>
$for i in xrange(anime.episodecount):
	<tr>
        <td>$(i+1)</td>
        $if anime.episodes.has_key(str(i+1)):
            <td>$anime.episodes[str(i+1)].titles['en'][0].title</td>
        $else: 
            <td>Episode $i</td>
	</tr>
</table>
<!-- If we had access to subber groups from AniDB we would list them here in a table and provide easy selection -->