$def with (form, anime)

$if anime.titles.has_key('en'):
	<h1>$anime.titles['en'][0].title ($anime.titles['x-jat'][0].title)</h1>
$else:
	$if anime.titles.has_key('x-jat'):
		<h1>$anime.titles['x-jat'][0].title</h1>
	$else:
		<h1>Fail</h1>
		

<form action="" method="post">
$:form.render()
</form>

<table border="1">
$for i in xrange(anime.episodecount):
	<tr>
        <td>$(i+1)</td>
        $if anime.episodes.has_key(str(i+1)):
            <td>$anime.episodes[str(i+1)].titles['en'][0].title</td>
        $else: 
            <td>Episode $i</td>
	</tr>
</table>
<!-- If we had access to subber groups from AniDB we would list them here in a table -->