$def with (anime, episodes, episodeForm, editorForm)
$var title = anime.title

<h2>$anime.title</h2>
<h3>Group: $anime.subber</h3>

<table border="1" width="100%">
    <thead>
    <tr>
        <th>Episode</th>
        <th>Title</th>
        <th>Airdate</th>
        <th>Status</th>
        <th>Search</th>
    </tr>
    </thead>
$for episode in episodes:
	<tr>
		<td>$(episode.episode)</td>
		<td>$episode.title</td>
        $if episode.airdate!=None:
            <td>$episode.airdate.strftime("%Y-%m-%d")</td>
        $else:
            <td>TBD</td>
        $if episode.wanted == 3:
            <td>Downloaded</td>
        $if episode.wanted == 2:
            <td>Snatched</td>
        $if episode.wanted == 1:
            $if episode.airdate!=None:
                $if episode.airdate > datetime.datetime.now():
                    <td>Unaired</td>
                $else:
                    <td>Wanted</td>
            $else:
                <td>Unaired</td>
        $if episode.wanted == 0:
            <td>Skipped</td>
        <td>
            <form action="" method="post">
                $:episodeForm(episode.episode).episode.render()
                $:episodeForm(episode.episode).form.render()
            </form>
            <a href="" onclick="document.forms[$episode.episode].submit();return false;">Try</a>
        </td>
	</tr>
</table>

</br>


<h4>Editor</h4>
<p>Note: If no releases are being picked up by Anorak it's probably because the release group is using a different name other than the official name picked up by AniDB.net. Try overriding the name for search.</p>
<form action="" method="post">
$:editorForm.render()
</form>

</br>
<a href="/remove/$anime.id">Remove Anime</a> | <a href="/refresh/$anime.id">Refresh Anime Metadata</a>