$def with (results)
$var title: Search

$if results != None:
    <h2>Searching</h2>
    <hr/>
    <br/>
    <table border="1" width="100%">
            <thead>
            <tr>
                <th>Anime</th>
                <th>Action</th>
            </tr>
            </thead>
	    $for result in results:
	        <tr>
                <td>$createTitleListing(result.titles)</td>
			    <td><a href="/add/$result.id">Add Anime</a></td>
		    </tr>
    </table>
$else:
    <h4>Type something in the search field.</h4>